            nav li {
              list-style-type: none;
              font-family: monospace;
              font-size: 150%; 
                 }
		body {
             background-color: mediumaquamarine;
            }
            h1 {
             color: darkred;
             text-align: center;	
            }
            h2 {
             color: darkred;
             text-align: center;	
            }
            img {
             display: block;
             margin: auto;
             width: auto;
             max-width: 100%;
             height: auto;
             border-radius: 10px;
             padding: 20px 20px;
            }
            #intro {
             text-align: center;
             font-style: oblique;
             font-size: 20px;
            }
            iframe {
             display: block;
             margin: 0 auto;
             padding: 20px 20px;
            }
            b {
             text-align: center;
            }
            .subcategories {
             font-style: italic;
             text-decoration: underline;
            }
            .text {
                  font-size: 25px;
                  text-align: center
            }
            